
html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  margin: 0 15px;
}

body {
  font-family: 'Helvetica Neue';
  font-size: 13px;
  line-height: 1.3;
}

#leaderboard {
  width: 500px;
}